<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui">
    
    <link rel="stylesheet" href="css/style.css"></link>
    <h:head>
        <title>Cadastro Cliente</title>
    </h:head>
        
    <h:body>
        <b:form>
            <b:container fluid="true">
                <b:panel>
                    <b:row>
                        <b:column span="7">
                            <h:outputLabel styleClass="titulo">Cadastro de Clientes</h:outputLabel>
                        </b:column>
                        <b:column span="1">
                            <h:outputLabel value="CPF: "></h:outputLabel>
                        </b:column>
                        <b:column span="2">
                            <b:inputText value="#{pessoaBean.auxCpf}" mask="999.999.999-99"></b:inputText>
                        </b:column>
                        <b:column span="1">
                            <b:commandButton 
                                action="#{pessoaBean.getPessoaPorCPF()}" 
                                update="@form" 
                                value="Atualizar" 
                                look="warning">
                            </b:commandButton>
                        </b:column>
                        <b:column span="1">
                            <b:commandButton
                                action="#{pessoaBean.removePessoa()}"
                                update="@form"
                                value="Remover" 
                                look="danger">
                                    
                            </b:commandButton>
                        </b:column>                    
                    </b:row>
                    <hr></hr>
                        <b:row>
                            <b:column span="1">
                                <h:outputLabel value="NOME: "></h:outputLabel>
                            </b:column>
                            <b:column span="3">
                                <b:inputText value="#{pessoaBean.pessoa.nome}" placeholder="Ex: Maria"></b:inputText>
                            </b:column>    
                        </b:row>

                        <b:row>
                            <b:column span="1">
                                <h:outputLabel value="SOBRENOME: "></h:outputLabel>
                            </b:column>
                            <b:column span="3">
                                <b:inputText value="#{pessoaBean.pessoa.sobrenome}" placeholder="Ex: Silva"></b:inputText>
                            </b:column>    
                        </b:row>

                        <b:row>
                            <b:column span="1">
                                <h:outputLabel value="CPF: "></h:outputLabel>
                            </b:column>
                            <b:column span="3">
                                <b:inputText  value="#{pessoaBean.pessoa.cpf}" mask="999.999.999-99" placeholder="Ex:123.456.789-01"></b:inputText>
                            </b:column>    
                        </b:row>

                        <b:row>
                            <b:column span="1">
                                <h:outputLabel value="RG: "></h:outputLabel>
                            </b:column>
                            <b:column span="3">
                                <b:inputText value="#{pessoaBean.pessoa.rg}" mask="9999999" placeholder="Ex: 1234567"></b:inputText>
                            </b:column>    
                        </b:row>

                        <b:row>
                            <b:column span="12">
                                <b:commandButton 
                                    rendered="#{!pessoaBean.atualiza}" 
                                    styleClass="botaocadastrar" 
                                    value="Cadastrar" update="@form" 
                                    action="#{pessoaBean.addPessoa()}" look="primary">
                                </b:commandButton>
                                
                                <b:commandButton 
                                    rendered="#{pessoaBean.atualiza}" 
                                    styleClass="botaocadastrar" 
                                    value="Atualizar" update="@form" 
                                    action="#{pessoaBean.atualizaPessoa()}" look="primary">
                                </b:commandButton>
                                
                            </b:column>
                        </b:row>

                        <b:row>
                            <b:column span="12">
                                <b:commandButton value="Limpar" 
                                          look="danger" 
                                          styleClass="botaolimpar"
                                          update="@form"
                                          action="#{pessoaBean.limpar()}">    
                                </b:commandButton>
                            </b:column>
                        </b:row>                        
                </b:panel>    
            </b:container>

            <b:container fluid="true">
                <p:dataTable value="#{pessoaBean.listaPessoas}" var="pessoa">
                    <p:column headerText="Nome">
                        <h:outputText value="#{pessoa.nome}"></h:outputText>
                    </p:column>

                    <p:column headerText="Sobrenome">
                        <h:outputText value="#{pessoa.sobrenome}"></h:outputText>
                    </p:column>

                    <p:column headerText="CPF">
                        <h:outputText value="#{pessoa.cpf}"></h:outputText>
                    </p:column>

                    <p:column headerText="RG">
                        <h:outputText value="#{pessoa.rg}"></h:outputText>
                    </p:column>                
                </p:dataTable>
            </b:container>
        </b:form>    
    </h:body>
</html>

